<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="helloworld_display_text">
        <observer name="mp_display_text" instance="Haru\Hello\Observer\ChangeDisplayText" />
    </event>
    <event name="page_block_html_topmenu_gethtml_after">
        <observer name="haru_page_block_html_topmenu_gethtml_after" instance="Haru\Hello\Observer\TopMenuGetHtmlAfter" />
    </event>
</config>
